<?xml version="1.0" encoding="UTF-8"?>
<knowledgeItem identifier="ITM_${id}" title="${title}" adaptive="false" timeDependent="false">
	<outcomeDeclaration identifier="SCORE" cardinality="single" baseType="float"/>
	<itemBody>
		<fact>
			<prompt>$content.fact</prompt>
		</fact>
	</itemBody>
</knowledgeItem>
